body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
color: brown;
}
.blue-color{
    color: blue;
}
.red{
    color: red;
}
.green{
    color:green;
}
.yellow{
    color:yellow;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}

section{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width:70%;
    padding-left: 3%;
}

.link-button{
text-decoration:none;
background-image:linear-gradient(orange,tomato);
padding: 30 px, 80px;
color: white;
font-weight: 700;
border: radius 10 px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
